* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

body {
  font-family: 'lato', sans-serif; 
  font-size: 20px;
  color: #444;
  background-color: #FEFEFE;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

.hide {
  display: none;
}

header {
  font-family: 'Merriweather', serif;
  background-color: #DEE9ED;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

header h1 {
  margin: 0;
}


.header-img img {
  width: 100px;
  height: 120px;
  border-radius: 50%;
}
/* 
===================================
NAV STYLES
=================================== */

nav,
footer {
  padding: 1% 0;
  background-color: #173753;
  color: #f4f4f4;
}

nav {
  position: fixed;
  height: auto;
  padding: 0;
  width: 100%;
  bottom: 0;
  z-index: 10;
}



.mobileNav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;

}

.mobileNav li {
  list-style: none;
  display: inline-block;
}

.mobileNav i {
  font-size: 25px;
  padding: 0 25px;
}

.mobileNav {
  font-size: 15px;
}



/* ===================================
ABOUT ME STYLES
=================================== */

h2 {
  font-family: 'Merriweather', serif;
  text-align: center;
}

section {
  font-family: 'Lato', sans-serif;
  min-height: 200px;
  padding: 6% 10px;
  background-color: white;
  margin-left:5px;
  margin-right:5px;
  margin-bottom: 10px;
  text-align: left;
  border-bottom: 1px groove #444;
}

section header {
  background-color: white;
  padding: 0;
}

img {
  display: block;
  width: 200px;
  margin: 10px auto;
}

.skills {
  text-align: center;
}

.skills ul {
  list-style: none;
  margin-left: 0;
  padding: 10px;
}

.skills p {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.skills li {
  text-align: center;
}


/* ===================================
Project Styles
=================================== */

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}
.project  img {
  width: 100%;
  margin: 5px auto;
}

.project a {
  text-align: center;
  background-color: #173753;
  font-family: 'lato', sans-serif;
  color: #f4f4f4;
  display: block;
  width: 40%;
  height: 45px;
  padding: 5px 0;
  margin: 20px auto;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
} 

.icons i {
  font-size: 30px;
} 

h3 {
  text-align: center;
}

.contact {
  text-align: center;
  border: none;
}

.contact p {
  text-align: left;
}



.social-icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 40px;
}

.social-icons i {
  font-size: 30px;
}

/* ===================================
Footer Styles 
=================================== */

footer {
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 450px) {
  .profile {
  width: 80%;
  margin: 0 auto;
  }

  
  .thirds {
    display: flex;
  }

  .thirds .col {
    width: 33%;
  }

  .project img {
    width: 100%;
    margin: 5px auto;
  }
  
  .project button {
    display: block;
    width: 60%;
    height: 55px;
    margin: 20px auto;
  }
  

  .icons i {
    font-size: 30px;
  }

  .social-icons i {
    font-size: 30px;
  }
  

  .header-img img {
    width: 150px;
    height: 170px;
    border-radius: 50%;
  }

}


@media screen and (min-width: 800px) {


  header {
    font-family: 'Merriweather', serif;
    width: 100%;
  }

  .header-img img {
    width: 150px;
    height: 170px;
    border-radius: 50%;
    margin: 50px auto 20px auto;
  }


  nav {
    position: fixed;
    height: 75px;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav .right i {
    font-size: 30px;
    margin: 10px 30px;
  }
  
  nav li {
    padding: 10px;
  }
  

  .mobileNav {
    display: none;
  }

  nav .navlinks {
    display: inherit;
    margin: 0 20px;;
    padding: 0;
    list-style: none;
  }

  .left {
    width: 50%;
    justify-content: space-between;
  }


  .right {
    width: 50%;
    justify-content: flex-end;
  }

  .profile {
    width: 60%;
    margin: 10px auto;
  }
  

  .half {
    display: flex;
  }

  .half .project-buttons{
    width: 100%;
    flex-direction: column;
    justify-content: right;
    padding-top: 15px;
  }

  .project-buttons button {
    width: 70%;
  }

  .project {
    width: 100%;
  }

  .half img {
    width: 50%;
  }

  footer {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 60px;
  }

  .skills ul {
    list-style: none;
  }
  
  ul span {
    font-weight: bold;
  }

  .thirds {
    display: flex;
  }

  .thirds .col {
    width: 33%;
  }



  .icons i {
    font-size: 40px;
  }

  .social-icons i {
    font-size: 40px;
  } 



}